{% extends 'base.html' %}
{% load static %}

{% block title %}
Create Course
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'codextr/create-course.css' %}">
{% endblock %}

{% block content %}
<div class="course-container">
    <h2>Create Course</h2>
    <form id="courseForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="courseName">Course Name:</label>
            <input type="text" id="courseName" name="courseName" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category">
                {% for category in categories %}
                    <option value="{{ category.cat_name }}">{{ category.cat_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="difficultyLevel">Difficulty Level:</label>
            <select id="difficultyLevel" name="difficultyLevel" required>
                {% for level in difficulty_level %}
                    <option value="{{ level.0 }}">{{ level.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Price:</label>
            <label for="unpaid"><input type="radio" id="unpaid" name="payment" value="unpaid" checked> Unpaid</label>
            <label for="paid"><input type="radio" id="paid" name="payment" value="paid"> Paid</label>
        </div>
        <div class="form-group">
            <input type="number" id="price" name="price" value="0.00" min="0" step="0.01" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="courseImage">Upload Course Image:</label>
            <input type="file" id="courseImage" name="courseImage" accept="image/*" onchange="previewImage(event)" required>
        </div>
        <div class="form-group">
            <img id="imagePreview" src="#" alt="Image Preview" style="display:none; width: 200px; height: auto; margin-top: 10px;">
        </div>
        <div class="course-form">
            <div class="section" id="section-1">
              <label for="section1">Section 1</label>
              <input type="text" id="section1" name="section1" required>
              <button class="add-btn" onclick="addSection()">+</button>
            </div>
            <div id="section-container"></div>
            <button class="create-btn" id="create-course-btn">Create course</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'codextr/create-course.js' %}"></script>
{% endblock %}





