{% extends "base.html" %}
{% load static %}

{% block title %}
{{user.username}}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'codextr/s-i-dashboard.css' %}">
{% endblock %}

{% block content %}
<br>
<h1 style="text-align: center">Dashboard</h1>
<br>
<div class="student-container">
<div class="course-container">
  <h2>Enrolled Course</h2>

  <div class="course-slider">
    <button class="nav-btn left-btn" onclick="scrollCoursesLeft()">&#10094;</button>
    <div class="course-list">
      {% for course in courses %}
        <div class="course">
          <img src="{{course.course_img.url}}" alt="{{course.course_name}}">
          <h3><a href="{% url 'course-codextr' course.slug %}">{{course.course_name}}</a></h3>
          <p>{{course.difficulty|title}}</p>
        </div>
      {% endfor %}
    </div>
    <button class="nav-btn right-btn" onclick="scrollRight()">&#10095;</button>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'codextr/s-i-dashboard.js' %}"></script>
{% endblock %}