.form-box {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    text-align: left;
    width: 600px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.checkbox-group {
    margin-bottom: 15px;
    display: block;
    justify-content: left;
}

.checkbox-group label {
    font-size: 14px;
}

/* button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
} */

.signup-button {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #0056b3;
}
