<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home-codextr' %}">CodeXTR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav col-md-4">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
          </ul>
          <form class="d-flex col-md-4" role="search">
              <input class="form-control me-2 rounded-pill" type="hidden" placeholder="Search" aria-label="Search">
              {% comment %} <button class="btn btn-primary" type="hidden">Search</button> {% endcomment %}
          </form>
          <ul class="navbar-nav col-md-4 justify-content-end">
              {% if request.session.user_id %}
                  {% if request.session.user_role == 'student' %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'student-dashboard-codextr' request.session.user_id %}">Dashboard</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'update-student-profile' request.session.user_id %}">My Profile</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'cart-codextr' request.session.user_id %}">Cart</a>
                      </li>
                  {% elif request.session.user_role == 'instructor' %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'instructor-dashboard-codextr' request.session.user_id %}">Dashboard</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'update-instructor-profile' request.session.user_id %}">My Profile</a>
                      </li>
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout-codextr' %}">Logout</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login-codextr' %}">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'signup-codextr' %}">Sign Up</a>
                  </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>